<div class="login">
	<form class="d-b ta-c" name="form">
		<div class="form-line ta-l p-r">
			<span class="icon account va-m d-ib"></span>
			<input name="phone" ng-model="user.phone" validator="required,phone" class="d-ib va-t" type="text" placeholder="请输入手机号码">
		</div>
		<div class="form-line ta-l p-r">
			<span class="icon lock va-m d-ib"></span>
			<input name="password" ng-model="user.password" validator="required,password" class="d-ib va-t" type="password" placeholder="输入密码">
		</div>
		<button class="login-btn" validation-submit="form">登录</button>
		<button class="register-btn">注册</button>
	</form>
</div>