<div class="register">
	<form class="d-b ta-c" name="form">
		<div class="form-line ta-l p-r">
			<span class="icon account va-m d-ib"></span>
			<input validator="phone" ng-model="user.phone" class="d-ib va-t" type="text" placeholder="请输入手机号码">
		</div>
		<div class="form-line ta-l p-r">
			<span class="icon lock va-m d-ib"></span>
			<input validator="password" ng-model="user.password" class="d-ib va-t" type="text" placeholder="设置6位以上密码">
		</div>
		<div class="message-wrap ta-l">
			<input class="message-box" type="text" placeholder="短信验证码">
			<span class="message f-r">发送短信</span>
		</div>
		<button class="login-btn" validation-submit="form" ng-click="submit();" >登录</button>
		<button class="register-btn">注册</button>
	</form>
</div>